#title-bar {
  opacity: .8;
  background-color: rgb(66, 36, 12);
  margin-bottom: 0px;
}


.row-height{
  height: 60em;
}
.map-border {
  border: 5px solid rgb(190, 177, 130);
  border-radius: 5px;
}

h2 {
  color: rgb(190, 177, 130);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 2.5em;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}


.custom-popup .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  line-height:24px;
  }
.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
.custom-popup .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #2c3e50;
  }
