#title-bar {
  opacity: .8;
  background-color: rgb(66, 36, 12);
  border: 5px solid rgb(190, 177, 130);
  margin-bottom: 20px
}

#sidebar {
  opacity: .8;
  background-color: rgb(66, 36, 12);
  border: 5px solid rgb(190, 177, 130);
  height: 700px;  
  border-radius: 5px;
}
.row-height{
  height: 700px;
}
.map-border {
  border: 5px solid rgb(190, 177, 130);
  border-radius: 5px;
}

h2 {
  color: rgb(190, 177, 130);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: left;
}
